<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <title>Rock Paper Scissors</title>
    <link rel='stylesheet' type='text/css' href='/style.css'>
  </head>
  <body>
    <div class="grid">
      <div class="boxgeneral box1 headerrow"><a></a></div>
      <div class="boxgeneral box1 button b1"><a></a></div>
      <div class="boxgeneral box1 button b2"><a></a></div>
      <div class="boxgeneral box1 button b3"><a href="/rules.html">The Rules</a></div>
      <div class="boxgeneral box1 button b4"><a></a></div>
      <div class="boxgeneral box1 footerrow"><a></a></div>
      <div class="boxgeneral box1 footerbox"><a>&copy; CodeClan Glasgow - G11 Cohort - January 2019</a></div>
      <div class="boxgeneral box2 picturebox"><a><image class="photo" src="/rps.png"></image></a></div>

      <div class="box2 storybox"><a>

        <%= yield %>

        </a>
      </div>
    </div>
  </body>
</html>
